# Database Setup

Using INEP Microdados for Higher Education Census (access in http://inep.gov.br/web/guest/microdados), we look to make a few analysis.

Due the datebase size, we will test by sampling. In 12043994 total entries in 2018 dataset, 6712803 are women. Since theres no ordering, we will consider in this analysis the first 100k results in the data set.

Considering each database size, around 4GB, you can narrow it down using:

```
# filter by column value
cat file_name.CSV | awk -F'|' '{if($16 == "1")print}' > file_output.CSV

# get first 499999 entries and header
head -n500000 file_name.csv

# get only values in column 16
cat file_name.csv | awk -F'|' '{print $16}'

# count lines
wc -l file_name.csv
```

## 2018 data example

In [12]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv("data/2018.csv",sep="|", dtype='unicode')

In [14]:
df[:10]

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
1,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2016
2,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
3,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2015
4,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2013
5,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2012
6,2018,1,1,1,1,NaN,1,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
7,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2017
8,2018,1,1,1,1,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2015
9,2018,1,1,1,1,NaN,1,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2013

### Codes

In [22]:
code = pd.read_csv("data/2018/anexos/ANEXO I/code.csv", sep='|')

In [23]:
code[:10]

,NOME DA VARIÁVEL,DESCRIÇÃO DA VARIÁVEL,DESCRIÇÃO DAS CATEGORIAS,OBSERVAÇÃO
0,NaN,NaN,NaN,NaN
1,NU_ANO_CENSO,Ano de referência do Censo Superior,NaN,* Variável criada a partir do ano de referênci...
2,CO_IES,Código único de identificação da IES,NaN,NaN
3,TP_CATEGORIA_ADMINISTRATIVA,Tipo da Categoria Administrativa da IES,1. Pública Federal 2. Pública Estadual 3. Públ...,"* As categorias 6, 8 e 9 somente no ano de 200..."
4,TP_ORGANIZACAO_ACADEMICA,Tipo da Organização Acadêmica da IES,1. Universidade 2. Centro Universitário 3. Fac...,NaN
5,CO_CURSO,Código único de identificação do curso gerado ...,NaN,NaN
6,CO_CURSO_POLO,Código de identificação do polo vinculado ao c...,NaN,NaN
7,TP_TURNO,Tipo do turno do curso ao qual o aluno está vi...,1. Matutino 2. Vespertino 3. Noturno 4. Integr...,* Valor nulo para o ano de 2009
8,TP_GRAU_ACADEMICO,Tipo do grau acadêmico conferido ao diplomado ...,1. Bacharelado 2. Licenciatura 3. Tecnológico ...,* A opção 4 (Bacharelado e licentiatura) apena...
9,TP_MODALIDADE_ENSINO,Tipo da modalidade de ensino do curso,1. Presencial 2. Curso a distância,NaN