# Database Setup

Using INEP Microdados for Higher Education Census (access in http://inep.gov.br/web/guest/microdados ), we look to make a few analysis.

Due the datebase size, we will test by sampling. In 12043994 total entries in 2018 dataset, 6712803 are women. Since theres no ordering, we will consider in this analysis a sample of 100k results in the data set.

Considering each database size, around 4GB, you can narrow it down using:

```
# extract header
head -1 input > sample

# macOS shuffler
brew install coreutils 

# dataset sample; macOS use gshuf instead
tail +2 input.csv | shuf | head -100000 >> sample.csv

# filter by column value
cat file_name.CSV | awk -F'|' '{if($16 == "1")print}' > file_output.CSV

# get first 499999 entries and header
head -n500000 file_name.csv

# get only values in column 16
cat file_name.csv | awk -F'|' '{print $16}'

# count lines
wc -l file_name.csv
```

## 2018 data example

In [18]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv("data/2018.csv",sep="|", dtype='unicode')

In [26]:
df[:10]

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_CURSO,CO_CURSO_POLO,TP_TURNO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,TP_NIVEL_ACADEMICO,...,TP_MOBILIDADE_ACADEMICA,TP_MOBILIDADE_ACADEMICA_INTERN,CO_IES_DESTINO,CO_PAIS_DESTINO,IN_MATRICULA,IN_CONCLUINTE,IN_INGRESSO_TOTAL,IN_INGRESSO_VAGA_NOVA,IN_INGRESSO_PROCESSO_SELETIVO,NU_ANO_INGRESSO
0,2018,605,3,1,14678,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,1,0,0,NaN,2014
1,2018,1053,4,3,87276,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,2013
2,2018,14,5,1,116202,NaN,3,3,1,1,...,NaN,NaN,NaN,NaN,1,0,1,0,NaN,2018
3,2018,1113,5,2,73557,NaN,1,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2015
4,2018,203,4,1,5498,NaN,1,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
5,2018,1365,5,2,22075,NaN,3,2,1,1,...,NaN,NaN,NaN,NaN,1,0,1,1,NaN,2018
6,2018,823,5,1,1191638,NaN,2,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017
7,2018,221,4,1,1258533,798868,NaN,3,2,1,...,NaN,NaN,NaN,NaN,0,0,1,1,NaN,2018
8,2018,437,5,1,9037,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,1,1,0,NaN,2018
9,2018,3268,4,3,5000952,NaN,3,1,1,1,...,NaN,NaN,NaN,NaN,1,0,0,0,NaN,2017

### Codes

In [5]:
code = pd.read_csv("data/2018/anexos/ANEXO I/code.csv", sep='|')

In [24]:
code

,NOME DA VARIÁVEL,DESCRIÇÃO DA VARIÁVEL,DESCRIÇÃO DAS CATEGORIAS,OBSERVAÇÃO
0,NaN,NaN,NaN,NaN
1,NU_ANO_CENSO,Ano de referência do Censo Superior,NaN,* Variável criada a partir do ano de referênci...
2,CO_IES,Código único de identificação da IES,NaN,NaN
3,TP_CATEGORIA_ADMINISTRATIVA,Tipo da Categoria Administrativa da IES,1. Pública Federal 2. Pública Estadual 3. Públ...,"* As categorias 6, 8 e 9 somente no ano de 200..."
4,TP_ORGANIZACAO_ACADEMICA,Tipo da Organização Acadêmica da IES,1. Universidade 2. Centro Universitário 3. Fac...,NaN
5,CO_CURSO,Código único de identificação do curso gerado ...,NaN,NaN
6,CO_CURSO_POLO,Código de identificação do polo vinculado ao c...,NaN,NaN
7,TP_TURNO,Tipo do turno do curso ao qual o aluno está vi...,1. Matutino 2. Vespertino 3. Noturno 4. Integr...,* Valor nulo para o ano de 2009
8,TP_GRAU_ACADEMICO,Tipo do grau acadêmico conferido ao diplomado ...,1. Bacharelado 2. Licenciatura 3. Tecnológico ...,* A opção 4 (Bacharelado e licentiatura) apena...
9,TP_MODALIDADE_ENSINO,Tipo da modalidade de ensino do curso,1. Presencial 2. Curso a distância,NaN
10,TP_NIVEL_ACADEMICO,Tipo do nível acadêmico do curso,1. Graduação 2. Seqüencial de Formação Específica,NaN
11,CO_CINE_ROTULO,"Código de identificação do curso, a partir de ...",NaN,NaN
12,ID_ALUNO,Código de identificação gerado pelo Inep para ...,NaN,NaN
13,CO_ALUNO_CURSO,Código de identificação gerado pelo Inep para ...,NaN,NaN
14,CO_ALUNO_CURSO_ORIGEM,Código de identificação gerado pelo Inep para ...,NaN,* Valor nulo para os anos de 2009 a 2012
15,TP_COR_RACA,Tipo da cor/raça do aluno,0. Aluno não quis declarar cor/raça 1. Branc...,NaN
16,TP_SEXO,Informa o sexo do aluno,1. Feminino 2. Masculino,NaN
17,NU_ANO_NASCIMENTO,Ano de nascimento do aluno,NaN,NaN
18,NU_MES_NASCIMENTO,Mês de nascimento do aluno,NaN,NaN
19,NU_DIA_NASCIMENTO,Dia de nascimento do aluno,NaN,NaN
20,NU_IDADE,Idade que o aluno completa no ano de referênci...,NaN,NaN
21,TP_NACIONALIDADE,Tipo da nacionalidade do aluno,1. Brasileira 2. Brasileira - nascido no exter...,NaN
22,CO_PAIS_ORIGEM,Código do país de nascimento ou de naturalizaç...,NaN,NaN
23,CO_UF_NASCIMENTO,Código do IBGE da Unidade da Federação de nasc...,NaN,NaN
24,CO_MUNICIPIO_NASCIMENTO,Código do IBGE do município de nascimento do a...,NaN,NaN
25,IN_DEFICIENCIA,Informa se o aluno é uma pessoa com deficiênci...,0. Não 1. Sim 9. Não...,* A categoria 9 (Não dispõe da informação) som...
26,IN_DEFICIENCIA_AUDITIVA,Informa se o aluno é uma pessoa com deficiênci...,0. Não (Aluno possui outro tipo de deficiência...,NaN
27,IN_DEFICIENCIA_FISICA,Informa se o aluno é uma pessoa com deficiênci...,0. Não (Aluno possui outro tipo de deficiência...,NaN
28,IN_DEFICIENCIA_INTELECTUAL,Informa se o aluno é uma pessoa com deficiênci...,0. Não (Aluno possui outro tipo de deficiência...,NaN
29,IN_DEFICIENCIA_MULTIPLA,Informa se o aluno é uma pessoa com deficiênci...,0. Não (Aluno possui outro tipo de deficiência...,NaN
...,...,...,...,...
76,IN_APOIO_ALIMENTACAO,Informa se o aluno recebe apoio alimentação,0. Não (Aluno possui outro tipo de apoio socia...,NaN
77,IN_APOIO_BOLSA_PERMANENCIA,Informa se o aluno recebe auxílio financeiro d...,0. Não (Aluno possui outro tipo de apoio socia...,NaN
78,IN_APOIO_BOLSA_TRABALHO,Informa se o aluno recebe remuneração referent...,0. Não (Aluno possui outro tipo de apoio socia...,NaN
79,IN_APOIO_MATERIAL_DIDATICO,Informa se o aluno recebe apoio para aquisição...,0. Não (Aluno possui outro tipo de apoio socia...,NaN
80,IN_APOIO_MORADIA,Informa se o aluno recebe apoio moradia.,0. Não (Aluno possui outro tipo de apoio socia...,NaN
81,IN_APOIO_TRANSPORTE,Informa se o aluno recebe apoio para transport...,0. Não (Aluno possui outro tipo de apoio socia...,NaN
82,IN_ATIVIDADE_EXTRACURRICULAR,Informa se o aluno participa de algum tipo de ...,0. Não 1. Sim,NaN
83,IN_COMPLEMENTAR_ESTAGIO,Informa se o aluno faz atividade extracurricul...,0. Não (Aluno possui outro tipo de atividade e...,NaN
84,IN_COMPLEMENTAR_EXTENSAO,Informa se o aluno participa de atividade extr...,0. Não (Aluno possui outro tipo de atividade e...,NaN
85,IN_COMPLEMENTAR_MONITORIA,Informa se o aluno participa de atividade extr...,0. Não (Aluno possui outro tipo de atividade e...,NaN
86,IN_COMPLEMENTAR_PESQUISA,Informa se o aluno participa de atividade extr...,0. Não (Aluno possui outro tipo de atividade e...,NaN
87,IN_BOLSA_ESTAGIO,Informa se o aluno recebe bolsa/remuneração po...,0. Não (Aluno faz atividade extracurricular de...,NaN
88,IN_BOLSA_EXTENSAO,Informa se o aluno recebe bolsa/remuneraçãopor...,0. Não (Aluno faz atividade extracurricular de...,NaN
89,IN_BOLSA_MONITORIA,Informa se o aluno recebe bolsa/remuneração po...,0. Não (Aluno faz atividade extracurricular de...,NaN
90,IN_BOLSA_PESQUISA,Informa se o aluno recebe bolsa/remuneração po...,0. Não (Aluno faz atividade extracurricular de...,NaN
91,TP_ESCOLA_CONCLUSAO_ENS_MEDIO,Tipo de escola que o aluno concluiu ensino médio,1. Pública 2. Privada ...,* Valor nulo para 2009
92,IN_ALUNO_PARFOR,Informa se o aluno participa do programa espec...,0. Não 1. Sim (.) Aluno de curso que não seja...,* Valor nulo para os anos de 2009 a 2011
93,TP_SEMESTRE_CONCLUSAO,Semestre (do ano de referência do Censo) em qu...,1. Primeiro semestre 2. Segundo semestre (.)...,* Valor nulo para os anos de 2009 a 2011
94,TP_SEMESTRE_REFERENCIA,Semestre de referência do preenchimento do vín...,1. Primeiro semestre ...,* Valor nulo para os anos de 2009 a 2012
95,IN_MOBILIDADE_ACADEMICA,Informa se o aluno está regularmente matricula...,0. Não 1. Sim (.) Aluno de universidade públi...,* Valor nulo para os anos de 2009 a 2012
96,TP_MOBILIDADE_ACADEMICA,Tipo de mobilidade acadêmica ao qual o aluno p...,1. Nacional ...,* Valor nulo para os anos de 2009 a 2012
97,TP_MOBILIDADE_ACADEMICA_INTERN,Tipo de mobilidade acadêmica internacional ao ...,1. Intercâmbio ...,* Valor nulo para os anos de 2009 a 2012
98,CO_IES_DESTINO,Código da instituição nacional receptora do al...,NaN,* Valor nulo para os anos de 2009 a 2012
99,CO_PAIS_DESTINO,Código do país da instituição receptora do alu...,NaN,* Valor nulo para os anos de 2009 a 2012
100,IN_MATRICULA,Informa se o aluno é matriculado no curso,0. Situação diferente de matrícula 1. Situação...,NaN
101,IN_CONCLUINTE,Informa se o aluno é concluinte,0. Situação diferente de concluinte 1. Situaçã...,NaN
102,IN_INGRESSO_TOTAL,"Informa se o aluno é ingressante no curso, não...",0. Situação diferente de ingresso total 1. Sit...,NaN
103,IN_INGRESSO_VAGA_NOVA,Informa se o aluno é ingressante no curso por ...,0. Situação diferente de ingresso por processo...,* Valor nulo para os anos de 2009 a 2013
104,IN_INGRESSO_PROCESSO_SELETIVO,Informa se o aluno ingressou no curso por meio...,0. Situação diferente de ingresso por processo...,* Apenas para os anos de 2009 a 2013
105,NU_ANO_INGRESSO,Ano de ingresso do aluno no curso,NaN,NaN

In [24]:
df.query('TP_SEXO == "1"').TP_SEXO.count()

55693

In [29]:
(df.TP_SEXO == '2').sum()

44307

In [ ]:
ax = df.plot.bar(x='TP_SEXO', rot=0)