In [1]:
import pandas as pd

In [7]:
df10 = pd.read_csv("data/2010.csv",sep="|", dtype='unicode')
df11 = pd.read_csv("data/2011.csv",sep="|", dtype='unicode')
df12 = pd.read_csv("data/2012.csv",sep="|", dtype='unicode')
df13 = pd.read_csv("data/2013.csv",sep="|", dtype='unicode')
df14 = pd.read_csv("data/2014.csv",sep="|", dtype='unicode')
df15 = pd.read_csv("data/2015.csv",sep="|", dtype='unicode')
df16 = pd.read_csv("data/2016.csv",sep="|", dtype='unicode')
df17 = pd.read_csv("data/2017.csv",sep="|", dtype='unicode')
df18 = pd.read_csv("data/2018.csv",sep="|", dtype='unicode')

## Shows how many women in 100.000 entered the brazilians uni each year

In [13]:
print(df10.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df11.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df12.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df13.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df14.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df15.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df16.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df17.query('TP_SEXO == "1"').TP_SEXO.count())
print(df18.query('TP_SEXO == "1"').TP_SEXO.count())

55712
55926
55729
56099
55935
55703
55771
51226
55693

## 2010

In [29]:
# MEDICINA
# direito
# ciencias fisicas 44
# ciencia da compitacao 481C01

print(df10.query('NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())
print(df10.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())

print(df10.query('NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())
print(df10.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())

print(df10.query('NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())
print(df10.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())

print(df10.query('NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())
print(df10.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())

1323
702
10510
5323
483
138
1014
143

% of presence of women in

medicine

law

phisics

computer science

In [41]:
print (100*702/1323)
print (100*5323/10510)
print (100*138/483)
print (100*143/1014)

53.06122448979592
50.64700285442436
28.571428571428573
14.102564102564102

## 2011

In [42]:
# MEDICINA
# direito
# ciencias fisicas 44
# ciencia da compitacao 481C01

print(df11.query('NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())
print(df11.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())

print(df11.query('NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())
print(df11.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())

print(df11.query('NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())
print(df11.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())

print(df11.query('NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())
print(df11.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())

1272
690
10358
5335
480
137
981
150

In [43]:
print (100*690/1272)
print (100*5335/10358)
print (100*137/480)
print (100*150/981)

54.24528301886792
51.50608225526163
28.541666666666668
15.290519877675841

## 2012

In [45]:
# MEDICINA
# direito
# ciencias fisicas 44
# ciencia da compitacao 481C01

print(df12.query('NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())
print(df12.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())

print(df12.query('NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())
print(df12.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())

print(df12.query('NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())
print(df12.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())

print(df12.query('NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())
print(df12.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())

1139
615
9957
5229
459
146
950
130