In [1]:
import pandas as pd

In [7]:
df10 = pd.read_csv("data/2010.csv",sep="|", dtype='unicode')
df11 = pd.read_csv("data/2011.csv",sep="|", dtype='unicode')
df12 = pd.read_csv("data/2012.csv",sep="|", dtype='unicode')
df13 = pd.read_csv("data/2013.csv",sep="|", dtype='unicode')
df14 = pd.read_csv("data/2014.csv",sep="|", dtype='unicode')
df15 = pd.read_csv("data/2015.csv",sep="|", dtype='unicode')
df16 = pd.read_csv("data/2016.csv",sep="|", dtype='unicode')
df17 = pd.read_csv("data/2017.csv",sep="|", dtype='unicode')
df18 = pd.read_csv("data/2018.csv",sep="|", dtype='unicode')

## Shows how many women in 100.000 entered the brazilians uni each year

In [13]:
print(df10.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df11.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df12.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df13.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df14.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df15.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df16.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
print(df17.query('TP_SEXO == "1"').TP_SEXO.count())
print(df18.query('TP_SEXO == "1"').TP_SEXO.count())

55712
55926
55729
56099
55935
55703
55771
51226
55693

In [ ]:
# MEDICINA

print(df10.query('IN_SEXO_ALUNO == "1" & TP_CATEGORIA_ADMINISTRATIVA == "1"').TP_SEXO.count())