In [54]:
import pandas as pd

In [85]:
df_dict = {}

df_dict[10] = pd.read_csv("data/2010.csv",sep="|", dtype='unicode')
df_dict[11] = pd.read_csv("data/2011.csv",sep="|", dtype='unicode')
df_dict[12] = pd.read_csv("data/2012.csv",sep="|", dtype='unicode')
df_dict[13] = pd.read_csv("data/2013.csv",sep="|", dtype='unicode')
df_dict[14] = pd.read_csv("data/2014.csv",sep="|", dtype='unicode')
df_dict[15] = pd.read_csv("data/2015.csv",sep="|", dtype='unicode')
df_dict[16] = pd.read_csv("data/2016.csv",sep="|", dtype='unicode')
df_dict[17] = pd.read_csv("data/2017.csv",sep="|", dtype='unicode')
df_dict[18] = pd.read_csv("data/2018.csv",sep="|", dtype='unicode')

## Shows how many women in 100.000 entered the brazilians uni each year

In [95]:
for x in range(10, 17):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    print(df_loop.query('IN_SEXO_ALUNO == "1"').IN_SEXO_ALUNO.count())
    print()

for x in range(17, 19):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    print(df_loop.query('TP_SEXO == "1"').TP_SEXO.count())
    print()

Year of 2010
55712

Year of 2011
55926

Year of 2012
55729

Year of 2013
56099

Year of 2014
55935

Year of 2015
55703

Year of 2016
55771

Year of 2017
51226

Year of 2018
55693

In [104]:
# for x in range(10, 17):
#     df_loop = df_dict[x]
#     print ("Year of 20{}".format(x))
    
#     print("Total in Medicine")
#     print(df_loop.query('NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())
#     print("Female in Medicine")
#     print(df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count())

#     print("Total in Law")
#     print(df_loop.query('NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())
#     print("Female in Law")
#     print(df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count())

#     print("Total in Phisics")
#     print(df_loop.query('NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())
#     print("Female in Law")
#     print(df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count())

#     print("Total in Computer Science")
#     print(df_loop.query('NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())
#     print("Female in Law")
#     print(df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count())

## Medicine

In [108]:
for x in range(10, 17):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    
#     print("Total in Medicine")
    total = df_loop.query('NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count()
#     print(total)
#     print("Female in Medicine")
    female_total = df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "MEDICINA"').IN_SEXO_ALUNO.count()
#     print(female_total)

    print("Female percentage")
    print (100*female_total/total)
    print()
    
for x in range(17, 19):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    
    #Medicine has the CO_CURSO key value 12 
    total = df_loop.query('CO_CURSO == "12"').TP_SEXO.count()
    female_total = df_loop.query('TP_SEXO == "1" & CO_CURSO == "12"').TP_SEXO.count()

    print("Female percentage")
    print (100*female_total/total)
    print()

Year of 2010
Female percentage
53.06122448979592

Year of 2011
Female percentage
54.24528301886792

Year of 2012
Female percentage
53.99473222124671

Year of 2013
Female percentage
55.57337610264635

Year of 2014
Female percentage
55.714285714285715

Year of 2015
Female percentage
54.88530161427358

Year of 2016
Female percentage
58.8477366255144

Year of 2017
Female percentage
48.23091247672253

Year of 2018
Female percentage
20.0

## Law

In [103]:
for x in range(10, 17):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    
    total = df_loop.query('NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count()
    female_total = df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "DIREITO"').IN_SEXO_ALUNO.count()

    print("Female percentage")
    print (100*female_total/total)
    print()

Year of 2010
Female percentage
50.64700285442436

Year of 2011
Female percentage
51.50608225526163

Year of 2012
Female percentage
52.51581801747514

Year of 2013
Female percentage
53.77111826226871

Year of 2014
Female percentage
53.77272265664669

Year of 2015
Female percentage
54.82155639635955

Year of 2016
Female percentage
54.89917924815077

## Phisics

In [101]:
for x in range(10, 17):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    
    total = df_loop.query('NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count()
    female_total = df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "F�SICA"').IN_SEXO_ALUNO.count()

    print("Female percentage")
    print (100*female_total/total)
    print()

Year of 2010
Female percentage
28.571428571428573

Year of 2011
Female percentage
28.541666666666668

Year of 2012
Female percentage
31.808278867102395

Year of 2013
Female percentage
30.071599045346062

Year of 2014
Female percentage
29.807692307692307

Year of 2015
Female percentage
31.362467866323907

Year of 2016
Female percentage
29.023746701846967

## Computer Science

In [102]:
for x in range(10, 17):
    df_loop = df_dict[x]
    print ("Year of 20{}".format(x))
    
    total = df_loop.query('NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count()
    female_total = df_loop.query('IN_SEXO_ALUNO == "1" & NO_CURSO == "CI�NCIA DA COMPUTA��O"').IN_SEXO_ALUNO.count()

    print("Female percentage")
    print (100*female_total/total)
    print()

Year of 2010
Female percentage
14.102564102564102

Year of 2011
Female percentage
15.290519877675841

Year of 2012
Female percentage
13.68421052631579

Year of 2013
Female percentage
13.636363636363637

Year of 2014
Female percentage
14.837153196622436

Year of 2015
Female percentage
11.600928074245939

Year of 2016
Female percentage
11.712846347607053